    /*
    Flaticon icon font: Flaticon
    Creation date: 21/03/2019 08:07
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-add:before { content: "\f100"; }
.flaticon-002-big-data:before { content: "\f101"; }
.flaticon-003-big:before { content: "\f102"; }
.flaticon-004-cloud:before { content: "\f103"; }
.flaticon-005-cloud-1:before { content: "\f104"; }
.flaticon-006-cloud-2:before { content: "\f105"; }
.flaticon-007-computer:before { content: "\f106"; }
.flaticon-008-computer-1:before { content: "\f107"; }
.flaticon-009-database:before { content: "\f108"; }
.flaticon-010-database-1:before { content: "\f109"; }
.flaticon-011-database-2:before { content: "\f10a"; }
.flaticon-012-database-3:before { content: "\f10b"; }
.flaticon-013-database-4:before { content: "\f10c"; }
.flaticon-014-database-5:before { content: "\f10d"; }
.flaticon-015-database-6:before { content: "\f10e"; }
.flaticon-016-database-7:before { content: "\f10f"; }
.flaticon-017-database-8:before { content: "\f110"; }
.flaticon-018-database-9:before { content: "\f111"; }
.flaticon-019-database-10:before { content: "\f112"; }
.flaticon-020-database-11:before { content: "\f113"; }
.flaticon-021-database-12:before { content: "\f114"; }
.flaticon-022-database-13:before { content: "\f115"; }
.flaticon-023-database-14:before { content: "\f116"; }
.flaticon-024-database-15:before { content: "\f117"; }
.flaticon-025-database-16:before { content: "\f118"; }
.flaticon-026-database-17:before { content: "\f119"; }
.flaticon-027-database-18:before { content: "\f11a"; }
.flaticon-028-database-19:before { content: "\f11b"; }
.flaticon-029-database-20:before { content: "\f11c"; }
.flaticon-030-database-21:before { content: "\f11d"; }
.flaticon-031-database-22:before { content: "\f11e"; }
.flaticon-032-database-23:before { content: "\f11f"; }
.flaticon-033-database-24:before { content: "\f120"; }
.flaticon-034-database-25:before { content: "\f121"; }
.flaticon-035-download:before { content: "\f122"; }
.flaticon-036-global:before { content: "\f123"; }
.flaticon-037-global-1:before { content: "\f124"; }
.flaticon-038-info:before { content: "\f125"; }
.flaticon-039-mind:before { content: "\f126"; }
.flaticon-040-protection:before { content: "\f127"; }
.flaticon-041-refresh:before { content: "\f128"; }
.flaticon-042-refresh-1:before { content: "\f129"; }
.flaticon-043-remove:before { content: "\f12a"; }
.flaticon-044-server:before { content: "\f12b"; }
.flaticon-045-server-1:before { content: "\f12c"; }
.flaticon-046-server-2:before { content: "\f12d"; }
.flaticon-047-server-3:before { content: "\f12e"; }
.flaticon-048-server-4:before { content: "\f12f"; }
.flaticon-049-server-5:before { content: "\f130"; }
.flaticon-050-server-6:before { content: "\f131"; }
.flaticon-051-server-7:before { content: "\f132"; }
.flaticon-052-server-8:before { content: "\f133"; }
.flaticon-053-server-9:before { content: "\f134"; }
.flaticon-054-server-10:before { content: "\f135"; }
.flaticon-055-server-11:before { content: "\f136"; }
.flaticon-056-server-12:before { content: "\f137"; }
.flaticon-057-server-13:before { content: "\f138"; }
.flaticon-058-server-14:before { content: "\f139"; }
.flaticon-059-server-15:before { content: "\f13a"; }
.flaticon-060-server-16:before { content: "\f13b"; }
.flaticon-061-server-17:before { content: "\f13c"; }
.flaticon-062-server-18:before { content: "\f13d"; }
.flaticon-063-technology:before { content: "\f13e"; }
.flaticon-064-server-19:before { content: "\f13f"; }
.flaticon-065-web:before { content: "\f140"; }
.flaticon-066-web-1:before { content: "\f141"; }
.flaticon-067-web-2:before { content: "\f142"; }
.flaticon-068-web-3:before { content: "\f143"; }
    
    $font-Flaticon-001-add: "\f100";
    $font-Flaticon-002-big-data: "\f101";
    $font-Flaticon-003-big: "\f102";
    $font-Flaticon-004-cloud: "\f103";
    $font-Flaticon-005-cloud-1: "\f104";
    $font-Flaticon-006-cloud-2: "\f105";
    $font-Flaticon-007-computer: "\f106";
    $font-Flaticon-008-computer-1: "\f107";
    $font-Flaticon-009-database: "\f108";
    $font-Flaticon-010-database-1: "\f109";
    $font-Flaticon-011-database-2: "\f10a";
    $font-Flaticon-012-database-3: "\f10b";
    $font-Flaticon-013-database-4: "\f10c";
    $font-Flaticon-014-database-5: "\f10d";
    $font-Flaticon-015-database-6: "\f10e";
    $font-Flaticon-016-database-7: "\f10f";
    $font-Flaticon-017-database-8: "\f110";
    $font-Flaticon-018-database-9: "\f111";
    $font-Flaticon-019-database-10: "\f112";
    $font-Flaticon-020-database-11: "\f113";
    $font-Flaticon-021-database-12: "\f114";
    $font-Flaticon-022-database-13: "\f115";
    $font-Flaticon-023-database-14: "\f116";
    $font-Flaticon-024-database-15: "\f117";
    $font-Flaticon-025-database-16: "\f118";
    $font-Flaticon-026-database-17: "\f119";
    $font-Flaticon-027-database-18: "\f11a";
    $font-Flaticon-028-database-19: "\f11b";
    $font-Flaticon-029-database-20: "\f11c";
    $font-Flaticon-030-database-21: "\f11d";
    $font-Flaticon-031-database-22: "\f11e";
    $font-Flaticon-032-database-23: "\f11f";
    $font-Flaticon-033-database-24: "\f120";
    $font-Flaticon-034-database-25: "\f121";
    $font-Flaticon-035-download: "\f122";
    $font-Flaticon-036-global: "\f123";
    $font-Flaticon-037-global-1: "\f124";
    $font-Flaticon-038-info: "\f125";
    $font-Flaticon-039-mind: "\f126";
    $font-Flaticon-040-protection: "\f127";
    $font-Flaticon-041-refresh: "\f128";
    $font-Flaticon-042-refresh-1: "\f129";
    $font-Flaticon-043-remove: "\f12a";
    $font-Flaticon-044-server: "\f12b";
    $font-Flaticon-045-server-1: "\f12c";
    $font-Flaticon-046-server-2: "\f12d";
    $font-Flaticon-047-server-3: "\f12e";
    $font-Flaticon-048-server-4: "\f12f";
    $font-Flaticon-049-server-5: "\f130";
    $font-Flaticon-050-server-6: "\f131";
    $font-Flaticon-051-server-7: "\f132";
    $font-Flaticon-052-server-8: "\f133";
    $font-Flaticon-053-server-9: "\f134";
    $font-Flaticon-054-server-10: "\f135";
    $font-Flaticon-055-server-11: "\f136";
    $font-Flaticon-056-server-12: "\f137";
    $font-Flaticon-057-server-13: "\f138";
    $font-Flaticon-058-server-14: "\f139";
    $font-Flaticon-059-server-15: "\f13a";
    $font-Flaticon-060-server-16: "\f13b";
    $font-Flaticon-061-server-17: "\f13c";
    $font-Flaticon-062-server-18: "\f13d";
    $font-Flaticon-063-technology: "\f13e";
    $font-Flaticon-064-server-19: "\f13f";
    $font-Flaticon-065-web: "\f140";
    $font-Flaticon-066-web-1: "\f141";
    $font-Flaticon-067-web-2: "\f142";
    $font-Flaticon-068-web-3: "\f143";