	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/03/2019 08:15
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-battery:before { content: "\f100"; }
.flaticon-002-battery-1:before { content: "\f101"; }
.flaticon-003-battery-2:before { content: "\f102"; }
.flaticon-004-charging:before { content: "\f103"; }
.flaticon-005-battery-3:before { content: "\f104"; }
.flaticon-006-battery-4:before { content: "\f105"; }
.flaticon-007-low-battery:before { content: "\f106"; }
.flaticon-008-battery-5:before { content: "\f107"; }
.flaticon-009-battery-6:before { content: "\f108"; }
.flaticon-010-empty-battery:before { content: "\f109"; }
.flaticon-011-battery-7:before { content: "\f10a"; }
.flaticon-012-battery-8:before { content: "\f10b"; }
.flaticon-013-battery-9:before { content: "\f10c"; }
.flaticon-014-battery-10:before { content: "\f10d"; }
.flaticon-015-battery-11:before { content: "\f10e"; }
.flaticon-016-battery-12:before { content: "\f10f"; }
.flaticon-017-battery-13:before { content: "\f110"; }
.flaticon-018-battery-14:before { content: "\f111"; }
.flaticon-019-battery-15:before { content: "\f112"; }
.flaticon-020-battery-16:before { content: "\f113"; }