    /*
    Flaticon icon font: Flaticon
    Creation date: 22/08/2018 08:28
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-battery:before { content: "\f100"; }
.flaticon-002-battery-1:before { content: "\f101"; }
.flaticon-003-biogas:before { content: "\f102"; }
.flaticon-004-biogas-1:before { content: "\f103"; }
.flaticon-005-machine:before { content: "\f104"; }
.flaticon-006-electricity:before { content: "\f105"; }
.flaticon-007-factory:before { content: "\f106"; }
.flaticon-008-factory-1:before { content: "\f107"; }
.flaticon-009-fire:before { content: "\f108"; }
.flaticon-010-gas-station:before { content: "\f109"; }
.flaticon-011-oil-platform:before { content: "\f10a"; }
.flaticon-012-oil:before { content: "\f10b"; }
.flaticon-013-power-plant:before { content: "\f10c"; }
.flaticon-014-oil-1:before { content: "\f10d"; }
.flaticon-015-solar-panel:before { content: "\f10e"; }
.flaticon-016-wind-power:before { content: "\f10f"; }
    
    $font-Flaticon-001-battery: "\f100";
    $font-Flaticon-002-battery-1: "\f101";
    $font-Flaticon-003-biogas: "\f102";
    $font-Flaticon-004-biogas-1: "\f103";
    $font-Flaticon-005-machine: "\f104";
    $font-Flaticon-006-electricity: "\f105";
    $font-Flaticon-007-factory: "\f106";
    $font-Flaticon-008-factory-1: "\f107";
    $font-Flaticon-009-fire: "\f108";
    $font-Flaticon-010-gas-station: "\f109";
    $font-Flaticon-011-oil-platform: "\f10a";
    $font-Flaticon-012-oil: "\f10b";
    $font-Flaticon-013-power-plant: "\f10c";
    $font-Flaticon-014-oil-1: "\f10d";
    $font-Flaticon-015-solar-panel: "\f10e";
    $font-Flaticon-016-wind-power: "\f10f";