	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/08/2018 08:28
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-battery:before { content: "\f100"; }
.flaticon-002-battery-1:before { content: "\f101"; }
.flaticon-003-biogas:before { content: "\f102"; }
.flaticon-004-biogas-1:before { content: "\f103"; }
.flaticon-005-machine:before { content: "\f104"; }
.flaticon-006-electricity:before { content: "\f105"; }
.flaticon-007-factory:before { content: "\f106"; }
.flaticon-008-factory-1:before { content: "\f107"; }
.flaticon-009-fire:before { content: "\f108"; }
.flaticon-010-gas-station:before { content: "\f109"; }
.flaticon-011-oil-platform:before { content: "\f10a"; }
.flaticon-012-oil:before { content: "\f10b"; }
.flaticon-013-power-plant:before { content: "\f10c"; }
.flaticon-014-oil-1:before { content: "\f10d"; }
.flaticon-015-solar-panel:before { content: "\f10e"; }
.flaticon-016-wind-power:before { content: "\f10f"; }